<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dashboard">

    <application android:theme="@style/AppTheme">
        <service
            android:name=".service.NotificationService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="ProTec.service.NotificationService" />
            </intent-filter>
        </service>

        <activity android:name=".DashboardActivity">
            <intent-filter>
                <action android:name="ProTec.dashboard.open" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>