<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bio_test">

    <application android:theme="@style/AppTheme">
        <activity android:name=".BioActivity">
            <intent-filter>
                <action android:name="ProTec.bioTest.open" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>


</manifest>